/* TOP*/


.top {
    block-size: 250px;

    .imagen{
        position: absolute;
        height: 250px;
        width: 100%;
        object-fit: cover;
    }
    .grey-background{
        position: absolute; 
        width: 100%;
        height: 250px;
        background: linear-gradient( 
        to right,
        rgba(255, 255, 255, 0) 0%,   
        rgb(100, 100, 100) 100%)     
    }
        
    .text{
        position: relative;
        display: flex;
        justify-content: center;
        gap: 400px;
        color:  #ffff;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;

        .title{
            display: flex;
            justify-content: center;
            font-size: 52px;
            font-weight: bold;
            letter-spacing: 10px;
        }
        .code{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        svg{
            width: 56px;
            height: 56px;
            fill: #ffff;
        }

        .subtitle {
            display: flex;
            font-size: 20px;
            justify-content: center;
        }

    }
} 

    
        
